ion-nav-view, .pane {
    background:url(../img/slide-bg.jpg) no-repeat center top fixed !important;
}

.menu {
  background:url(../img/slide-bg.jpg) no-repeat !important; 
}

.item-complex .item-content, .item-radio .item-content {
  padding: 0px !important;
}

.ion-side-menu .item-complex .item-content {
  padding: 0px !important;
}

.recuerda-slide-menu {
    background-color: rgba(0, 0, 0, 0.39);
    padding-left: 10px;
    color: white !important;
    border-bottom: 1px solid #537A77;
    height: 50px;
    line-height: 50px;
    font-family: cursive;

}

.bar-stable .button.button-clear , .bar.bar-stable .title {
  color: white !important;
}

.font-size-18 {
  font-size: 18px;
}

.after_border{
  border-bottom: 1px solid white;
}

.no-padding {
  padding: 0px !important;
}

.extra-margin-top {
  margin-top: 15px;
}


/* New styles */

.login-page-title {
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  font-family: cursive;
}

.default-priority {
  opacity: 0.5;
  color: black;
}
.highlight-priority {
    color: lime !important;
    opacity: 1 !important;
    font-size: 20px !important;
}

.list.list-inset.tt {
  border-radius:25px;
}

textarea.background-modify{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}
.margin-right{
      margin-right: 16px;
} 

.font-change-color{
    font-color:green;
    font-weight: bold;

}

.alignapply{
  margin-left: 200px;
}


.row.announcement-button{
  margin-left: 70%;
  background-color: green;
  color: white;
  font-weight: lighter;
  border-radius: 10%;
  border-color: green;  
}

.feedback-select-box {
  width: 50% !important;
}

.button-right{
  vertical-align: right; 
}
.text_padding{
  padding-left: 10px !important;
    border-radius: 10px !important;
  }

  
    .b_color{
      border-color: lightblue !important;
    background-color: #0be0af !important;
    color: #fff !important;
    }

    .button_font_color{
      color : teal !important;

    }

    .heading{
      text-align: -webkit-center;
    font-size: 150%;
    color: purple;
    }

    .textarea_padding{
      height: 100px;
    padding-top: 12px;
    border-radius: 14px;
    }
    .icon_align{
     padding-left: 90%;

    }
    .font_set{
      color: blue !important;
    padding-left: 40px !important;
    font-style: oblique !important;
    font-weight: 900 !important;
    }