ion-nav-view, .pane {
    background:url(../img/slide-bg.jpg) no-repeat center top fixed !important;
}

.menu {
  background:url(../img/slide-bg.jpg) no-repeat !important; 
}

.item-complex .item-content, .item-radio .item-content {
  padding: 0px !important;
}

.ion-side-menu .item-complex .item-content {
  padding: 0px !important;
}

.recuerda-slide-menu {
    background-color: rgba(0, 0, 0, 0.39);
    padding-left: 10px;
    color: white !important;
    border-bottom: 1px solid #537A77;
    height: 50px;
    line-height: 50px;
    font-family: cursive;

}

.bar-stable .button.button-clear , .bar.bar-stable .title {
  color: white !important;
}

.font-size-18 {
  font-size: 18px;
}

.after_border{
  border-bottom: 1px solid white;
}

.no-padding {
  padding: 0px !important;
}

.extra-margin-top {
  margin-top: 15px;
}


/* New styles */

.login-page-title {
  background-color: rgba(255, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  font-family: cursive;
}

.default-priority {
  opacity: 0.5;
  color: black;
}
.highlight-priority {
    color: lime !important;
    opacity: 1 !important;
    font-size: 20px !important;
}

.list.list-inset.tt {
  border-radius:25px;
}

textarea.background-modify{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}
.margin-right{
      margin-right: 16px;
} 

.font-change-color{
    font-color:green;
    font-weight: bold;

}

.alignapply{
  margin-left: 200px;
}

.col.announcement-border{
  background-color: #de74d6 !important;
    border-radius: 30px !important;
}

.row.announcement-alige{
  margin-top: 5px !important;
    margin-bottom: 17px !important;
}

.announcement-button{
  /*margin-left: 70%;*/
  /*background-color: green !important;*/
  color: white !important;
  font-weight: lighter !important;
  border-radius: 10% !important;
  border-color: green !important;  
  padding-left: 75% !important;
}

.feedback-select-box {
  width: 50% !important;
}

.button-right{
  vertical-align: right; 
}
.text_padding{
  padding-left: 10px !important;
    border-radius: 10px !important;
  }

  
    .b_color{
      border-color: lightblue !important;
    background-color: #0be0af !important;
    color: #fff !important;
    }

    .button_font_color{
      color : teal !important;
      font-style: oblique !important;
       
    font-family: cursive !important;
    }

    .button_set{
      float:right;
      text-align:right;
      z-index:20000;
    }

    .heading{
      text-align: -webkit-center;
    font-size: 150%;
    color: purple;
    }

    .textarea_padding{
      height: 100px;
    padding-top: 12px;
    border-radius: 14px;
    }
    .icon_align{
     padding-left: 90%;

    }
    .font_set{
      color: blue !important;
    padding-left: 40px !important;
    font-style: oblique !important;
    font-weight: 900 !important;
    }

    .icon-size{
      width: 10% !important;
      height: 30% !important;
    }
    .about-font-setting{
      padding-left: 32%;
    margin-top: 112px;
    }

    .setting_icon{
      height: 10%;
      width: 30%;
    }



.notification-close-icon {
  width: 20px;
      height: 20px;
      text-align: right;
}

.message-close-icon {
      width: 20px;
    height: 20px;
}


body {
    font-family : arial;
}
.sidebar {
    position : absolute;
    top : 0;
    left : -250px;
    transition : 100ms left;
    background-color: #5f488c;
    height: 100% !important;
    z-index: 9999999999999999999999999;
}
#navigation-toggle {
        position: fixed;
        left: 0px;
        color: white;
        text-decoration: none;
        background: url(../img/menu_icon.png) no-repeat !important;
        display: block;
        width: 30px;
        margin-left: 5px;
            margin-top: 5px;
}
.show {
    left : 0;
}
.navigation {
    list-style : none;
    padding : 0;
    margin : 0;
}
.navigation-items a {
    display : block;
    background-color : #5f488c;
    color : white;
    line-height : 2em;
    text-decoration : none;
    padding : 10px 30px;
    width : 250px;

}
.navigation-items a:hover {
    background-color : #222;
}

.navigation-items img {
  margin-left: 10px !important;
  width: 30px;
  margin-right: 5px;
  padding-top: 7px
}
.item {
  background: none !important; 
}

.icon_settings{
  width: 20% !important;
    height: 50% !important;
}

.image-profile{
  width: 767%;
    height: 142%;
}

.image-profile-size{
  width: 91%;
    border-radius: 108px;
}

.icon-editProfile{
  margin-left: 84px !important;
    margin-right: -85px !important;
}

.icon-attach{
  button-assertive
}