<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			
			<div class="row after_border" ng-repeat="message in Message.messages" ng-if="Message.messages.length>0">
				<div class="col-10"></div>
				<div class="col">
					<div class="row" >
						<div class="col">
							<img class="message-close-icon" src="img/close.png" ng-click="Message.deleteMessage(message)">
						</div>
					</div>
					<div class="row">
						<div class="col" style="font-weight:bold;">
							{{message.title}}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{message.comppanyname}}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{message.description}}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{message.post}}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{message.date}}
						</div>
					</div>
					<div class="row">
						<div class="col">
							{{message.time}}
						</div>
					</div>

				</div>
				<div class="col-10"></div>
  			</div>

  			<div><br><center style="font-weight: bold;" ng-if="Message.messages.length==0">No new messages</center>
  			</div>
  			</div>	
		

		</div>
	</ion-content>
</ion-view>