<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
		A mobile app is a software application designed to run on mobile devices such as smartphones and tablet computers. Most such devices are sold with several apps bundled as pre-installed software, such as a web browser, email client, calendar, mapping program, and an app for buying music or other media or more apps. Some pre-installed apps can be removed by an ordinary uninstall process, thus leaving more storage space for desired ones. Where the software does not allow this, some devices can be rooted to eliminate the undesired apps.	
  	
		</div>
	</ion-content>
</ion-view>