<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">


			<div class="row">
			  <div class="col-10"></div>
			  <div class="col">
			  	<div class="col loginOrSignup">
			  		<img src="img/icon.png" width="100%"></img><br></div><br>
			  	<input type="text" class="userimage text_padding"ng-model="Login.currentUser.email" placeholder="Email Id"></input>
			  	<br>
			  	<input type="password" class="passwordimage text_padding"ng-model="Login.currentUser.password" placeholder="Password"></input>
			  </div>
			  <div class="col-10"></div>
			</div> 
			<div class="row button-margin login-top">
			  	<div class="col-10"></div>
			  	<div class="col">
			  		<button class="button button-block button-royal button-login b_color button_font_color"ng-click="Login.authinticateUser()">LOGIN</button>
			  	</div>
			  	<div class="col-10"></div>
			</div>	
			<div class="row align-center">
				<div class="col button_font_color" ng-click="Login.SignUp()">Registeration</div>
				<div class="col button_font_color" ng-click="Login.ForgotPassword()">Forgot Password</div>
			</div>
		</div>
	</ion-content>
</ion-view>









































































