<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<div class="icon ion-gear-a float-right" style="margin-right:10px;margin-top:10px" ng-click="Login.changeServerIp()"></div>

			<div class="row">
			  <div class="col-10"></div>
			  <div class="col">
			  	<div class="col loginOrSignup">
			  		<img src="img/logoorginal.png" width="100%"></img><br></div><br>
			  	<input type="text" class="userimage text_padding"ng-model="Login.currentUser.email" placeholder="Email Id"></input>
			  	<br>
			  	<input type="password" class="passwordimage text_padding"ng-model="Login.currentUser.password" placeholder="Password"></input>
			  </div>
			  <div class="col-10"></div>
			</div> 


			<div class="row button-margin login-top">
			  	<div class="col-10"></div>
			  	<div class="col">
			  		<button class="button button-block button-royal button-login b_color button_font_color"ng-click="Login.authinticateUser()">LOGIN</button>
			  	</div>
			  	<div class="col-10"></div>
			</div>	


			<div class="row">
				<div class="col-10"></div>
				<div class="col button_font_color" style="color:white !important;" ng-click="Login.SignUp()"><u>Registeration</u></div>
				<div class="col button_font_color button_set" style="color:white !important;;" ng-click="Login.ForgotPassword()"><u>Forgot Password</u></div>
				<div class="col-10"></div>
			</div>
		</div>
	</ion-content>
</ion-view>









































































