<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
		
		<div class="row">
				<div class="col-10"></div>
				<div class="col">
					<div class="row">Title</div>
					<div class="row">Discription</div>
				</div>
				<div class="col-10"></div>
  			</div>

  			<div class="row">
				<div class="col-10"></div>
				<div class="col">
					<div class="row">Title</div>
					<div class="row">Discription</div>
				</div>
				<div class="col-10"></div>
  			</div>	

  	
		</div>
	</ion-content>
</ion-view>