<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			

			<label class="item item-input item-floating-label" ng-repeat="announcement in Announcement.allAnnouncement">
			<div class="row">
				
				<div class="col-10"></div>
				<div class="col">
					
					<div class="row" style="color:white;">
						<div class="col">{{announcement.name}}
						</div>
					</div>
					<div class="row" style="color:white;">
						<div class="col">{{announcement.description}}
						</div>
					</div>
                    <div class="row"><input type="button" class="row announcement-button" value="Details" name="Details" ng-click="Announcement.showDetails(announcement)">
						</input></div></div>
				<div class="col-10"></div>
  			</div></label>

			<!-- <label class="item item-input item-floating-label"><div class="row">
				<div class="col-10"></div>
				<div class="col ">
					
					<div class="row">sadasdssd </div>
					<div class="row">Most famous company in this country.It is the highest profit earning company.good</div>
					<div class="row">
						<input type="button" class="row announcement-button" value="Details" name="Details" ng-click="Announcement.authinticateUser()">
						</input></div></div>
				<div class="col-10"></div>
  			</div></label> -->

		</div>
	</ion-content>
</ion-view>