<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			
			<div class="row after_border" ng-repeat="announcement in Announcement.allAnnouncement">
				<div class="col-10"></div>
				<div class="col">
					<div class="row" style="color:white;">
						<div class="col">{{announcement.name}}
						</div>
					</div>
					<div class="row" style="color:white;">
						<div class="col">{{announcement.description}}
						</div>
					</div>
                    <div class="row">
                    	<div class="col announcement-button">
                    	<input type="button" class="announcement-button" value="Details" name="Details" ng-click="Announcement.showDetails(announcement)"></div>
                    </div>
                </div>
				<div class="col-10"></div>
  			</div>

		<!-- <label class="item item-input item-floating-label" >
			
  		</label> -->

			
<!-- <label class="item item-input item-floating-label" ng-repeat="notification in Notification.notifications">
			<div class="row">
				<div class="col-10"></div>
				<div class="col">
					

					<div class="row" style="color:white;">
						<div class="col">{{announcement.name}}
						</div>
					</div>
					<div class="row" style="color:white;">
						<div class="col">{{announcement.description}}
						</div>
					</div>
                    <div class="row">
                    	<div class="col announcement-button">
                    	<input type="button" value="Details" name="Details" ng-click="Announcement.showDetails(announcement)"></div>
                    </div>


				</div>
				<div class="col-10"></div>
  			</div>
  		</label> -->



		</div>
	</ion-content>
</ion-view>