<ion-view title={{pageTitle}}>
	<ion-content class="tasks-page">
		<div class="ion-content">


			<div class="row">
				<div class="col-20"></div>
				<div class="col heading" style="font-weight: bold;"><center>COMPANYS</cender></div>
				<div class="col-20"></div>
			</div>


			


			<div class="row">
			    <div class="col-10"></div>
			    <div class="col">
					<div class="list list-inset tt">
                		<label class="item item-input">
                		<i class="icon ion-search placeholder-icon"></i>
                		<input type="text" placeholder="Search" width="100%">
                		</label>
           			</div>
           		</div>
            	<div class="col-10"></div>
			</div>


			<div class="row"></div>
			<br>



			<div class="after_border">

    <a class="item item-thumbnail-left" ng-click="Home.goToCompanyDetails()">
      <img src="img/logo.jpg">
      <h2>Company name</h2>
      <p>Discription</p>
    </a>
   
    <a class="item item-thumbnail-left" ng-click="Home.goToCompanyDetails()">
      <img src="img/logo.jpg">
      <h2>Company name</h2>
      <p>Discription</p>
    </a>

</div>


           






			<!-- <div class="row">
				<div class="col-10"></div>
				<div class="col pic"><br><br><br><img src="img/logo.jpg" width="100%"></img></div>
				<div class="col-10"></div>
			</div> -->

	 	 </div>
	</ion-content>
</ion-view>