<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content ">
			
			<br><br>
            <div class="row">
			  <div class="col-20"></div>
			  <div class="col registrationTitle heading">Company Name</div>
			  <div class="col-20"></div>
			</div><br>


 <div class="row">
	<div class="col-10"></div>
  	<div class="col item item-body">
    <img class="full-image" src="img/logo.jpg"> 
  </div>
   <div class="col-10"></div>
</div>

 <div class="row">
	<div class="col-10"></div>
    <p>
     Discription 
    </p>
  </div>
   <div class="col-10"></div>

</div>


 <div class="row">
	<div class="col-10"></div>
    <img class="margin-right" ng-click="CompanyDetails.Gotopage()" src="img/left.png"> 
  </div>
   <div class="col-10"></div>

</div>

			

            
  	
		</div>
	</ion-content>
</ion-view>