<ion-view title={{pageTitle}}>
	<ion-content class="">
		<div class="ion-content  ">
				<br>
				<br>

			<div class="row">

			  <div class="col-20"></div>
			  <div class="col registrationTitle heading">CHANGE  PASSWORD</div>
			  <div class="col-20"></div>
			</div>
			
<br>
				<br>

<div class="row">
				<div class="col-20"></div>
				<div class="col">
				<input type="password" class="emailimage text_padding" ng-model="ChangePassword.newUser.current_pass" placeholder="Current Password">
                </div>
                <div class="col-20"></div>
			</div>

<br>
				<br>

			<div class="row">
				<div class="col-20"></div>
				<div class="col">
				<input type="password" class="emailimage text_padding" ng-model="ChangePassword.newUser.new_pass" placeholder="New Password">
                </div>
                <div class="col-20"></div>
			</div>
			<br>
				<br>

			<div class="row">
				<div class="col-20"></div>
				<div class="col">
				<input type="password" class="emailimage text_padding" ng-model="ChangePassword.newUser.conf_pass" placeholder="Conform Password">
                </div>
                <div class="col-20"></div>
			</div>
			

<br>
				<br>

			<div class="row">
				<div class="col-20"></div>
				<div class="col">
				<button class="button button-block button-royal button-login button_font_color" ng-click="ChangePassword.passwordss()">
                SUBMIT
                </button>
                </div>
                <div class="col-20"></div>
			</div>
		</div>
	</ion-content>
</ion-view>