<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col"><center><h4>
					EDIT PROFILE</h4>
					</center>
				</div>
				<div class="col-10">
				</div>
			</div> --><br><br>

            <div class="row">	
            </div>



            <div class="row">
				<div class="col-10">
				</div>
				<div class="col"><center>
					<img src="img/icon-user-default.jpg" ></center>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Name
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<input type="text" class="userimage" placeholder="User name" name="name">
					</input>
				</div>
				<div class="col-10">
				</div>
			</div> -->

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Address
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<textarea class="userimage" placeholder="Address" name="address"></textarea>
				</div>
				<div class="col-10">
				</div>
			</div> -->

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Date of birth
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<input type="text" class="userimage" placeholder="dd-mm-yyyy" name="dob">
					</input>
				</div>
				<div class="col-10">
				</div>
			</div> -->

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Age
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<input type="text" class="userimage" placeholder="Age" name="age">
					</input>
				</div>
				<div class="col-10">
				</div>
			</div> -->

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Phone
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<input type="text" class="userimage" placeholder="Phone" name="phone">
					</input>
				</div>
				<div class="col-10">
				</div>
			</div> -->

			
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Experience
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<input type="text" class="userimage" placeholder="Experience" name="experience">
					</input>
				</div>
				<div class="col">
					<select name="period" style="height:38px;width:100%">
                	<option value="Month">Month</option>
                    <option value="Year">Year</option>
                	</select>
				</input>
				</div>
				<div class="col-10">
				</div>
			</div>   -->


			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Qualification
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>
			<!-- <div class="row">
				<div class="col-10">
				</div>
				<div class="col">
				<input type="text" class="userimage" placeholder="Qualification" name="qualification">
					</input>
				</div>
				<div class="col-10">
				</div>
			</div>  	
			
 -->

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<center>
						<input type="button" class="userimage button button-clear button-assertive" name="Update" value="Update" ng-click="Profile.authinticateUser()" style="float: right;" >
						
						
						</input>
					</center>
				</div>
				<div class="col-10">
				</div>
			</div><br>

  	
		</div>
	</ion-content>
</ion-view>