<ion-view title={{pageTitle}}>
	<ion-content class="login-page">
		<div class="ion-content ">
			<br><br>

            <div class="row">
            </div>

            <div class="row">
				<div class="col-10">
				</div>
				<div class="col"><center><h4>
					ANNOUNCEMENT</h4>
					</center>
				</div>
				<div class="col-10">
				</div>
			</div>

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>POST               :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Company Name       :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Address            :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Qualification       :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			

			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Age Limit            :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			
			
			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Experience           :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>

			


			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<h6>Last date for apply   :
					</h6>
				</div>
				<div class="col-10">
				</div>
			</div><br>
			


			<div class="row">
				<div class="col-10">
				</div>
				<div class="col">
					<center>
						<input type="button" class="userimage button button-clear button-assertive" name="Apply" value="Apply" ng-click="AnnouncementDetails.authinticateUser()" style="float: right;" >
						
						
					</center>
				</div>
				<div class="col-10">
				</div>
			</div><br>

  	
		</div>
	</ion-content>
</ion-view>